{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"]
  // "ignore":[
  //   "./static/lib/jquery-3.2.1",
  //   "./static/lib/three.js",
  //   "./static/lib/stats.js",
  //   "./static/lib/controls/OrbitControls.js",
  //   "./static/lib/ThreeBSP.js",
  //   "./static/lib/tweenjs.js",
  //   "./static/js/msj3D.js",
  //   "./static/js/data.js"
  // ]
}
